@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active-mobile-nav {
    @apply !translate-y-0;
  }
}

/* width */
::-webkit-scrollbar {
  height: 7px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
